// {
// 	"presets": [
// 		"env",
// 		// "react",
// 		"stage-3"
// 	],
// 	"plugins": [
// 		// "jsx-control-statements",
// 		"transform-remove-strict-mode",
// 		"transform-runtime"
// 	]
// }

{
    "presets": ["es2015"],
    "plugins": [
        "transform-remove-strict-mode",
        "transform-object-rest-spread"
    ]
}