.mk-radio {
  color: #606266;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 14px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: 20px; }

.mk-radio.is-checked {
  color: #3A98FB; }

.mk-radio.is-bordered {
  border: 1px solid #dcdfe6;
  padding: 6px 8px;
  border-radius: 3px; }

.mk-radio.is-bordered.is-checked:not(.is-disabled) {
  border-color: #3A98FB; }

.mk-radio:first-child {
  margin-left: 0px; }

.mk-radio__input {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.mk-radio__inner {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box; }

.mk-radio:not(.is-disabled) > .mk-radio__input > .mk-radio__inner:hover {
  border-color: #3A98FB; }

.mk-radio__inner::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 100%;
  top: 4px;
  left: 4px; }

.mk-radio__original {
  position: absolute;
  z-index: -1;
  outline: none;
  -webkit-appearance: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0; }

.mk-radio__label {
  padding-left: 10px;
  font-size: 14px;
  display: inline-block;
  line-height: 16px; }

.mk-radio.is-checked:not(.is-disabled) > .mk-radio__input > .mk-radio__inner {
  background: #3A98FB;
  border-color: #3A98FB !important; }

.mk-radio.is-disabled > .mk-radio__input > .mk-radio__inner {
  background: #fff; }

.mk-radio.is-disabled {
  cursor: not-allowed;
  color: #c6c6c6; }

.mk-radio__inner.is-disabled {
  border-color: #c6c6c6; }

.mk-radio.is-checked.is-disabled > .mk-radio__input > .mk-radio__inner::after {
  background: #c6c6c6; }

.mk-radio-btn-group {
  display: inline-block;
  font-size: 0; }

.mk-radio-btn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  cursor: pointer; }

.mk-radio-btn:last-child {
  border-right: 0; }

.mk-radio-btn.is-checked:not(.is-disabled) > .mk-radio-btn__label {
  background: #3A98FB;
  color: #fff;
  border-color: #3A98FB !important;
  box-shadow: -1px 0 0 0 #3A98FB; }

.mk-radio-btn:not(.is-checked) > .mk-radio-btn__label:hover {
  color: #579EF8; }

.mk-radio-btn.is-disabled {
  color: #c6c6c6;
  cursor: not-allowed; }

.mk-radio-btn.is-disabled > .mk-radio-btn__label:hover {
  color: #c6c6c6; }

.mk-radio-btn:first-child > .mk-radio-btn__label {
  border: 1px solid #dcdfe6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.mk-radio-btn:last-child > .mk-radio-btn__label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.mk-radio-btn__label {
  display: inline-block;
  padding: 12px 20px;
  border-right: 1px solid #dcdfe6;
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6; }

.mk-radio-btn__input {
  position: absolute;
  z-index: -1;
  border: 0;
  opacity: 0;
  outline: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-appearance: none; }

.mk-checkbox {
  color: #606266;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 14px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: 30px; }

.mk-checkbox__input {
  position: relative;
  display: inline-block; }

.mk-checkbox__inner {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #dcdfe6;
  vertical-align: middle; }

.mk-checkbox.is-disabled {
  cursor: not-allowed; }

.mk-checkbox:not(.is-indeterminate) > .mk-checkbox__input > .mk-checkbox__inner::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg) translate3d(3px, -3px, 0);
          transform: rotate(45deg) translate3d(3px, -3px, 0); }

.mk-checkbox__original {
  position: absolute;
  z-index: -1;
  opacity: 0;
  outline: none;
  width: 0;
  height: 0; }

.mk-checkbox.is-checked:not(.is-disabled) > .mk-checkbox__input > .mk-checkbox__inner {
  background: #3A98FB;
  border-color: #3A98FB !important;
  box-shadow: -1px 0 0 0 #3A98FB; }

.mk-checkbox.is-checked > .mk-checkbox__label {
  color: #3A98FB; }

.mk-checkbox.is-disabled > .mk-checkbox__label {
  color: #c6c6c6; }

.mk-checkbox.is-checked.is-disabled > .mk-checkbox__input > .mk-checkbox__inner::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 8px;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  -webkit-transform: rotate(45deg) translate3d(3px, -3px, 0);
          transform: rotate(45deg) translate3d(3px, -3px, 0); }

.mk-checkbox__label {
  padding-left: 10px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle; }

.mk-checkbox-group {
  font-size: 0; }

.mk-checkbox.is-indeterminate > .mk-checkbox__input > .mk-checkbox__inner {
  background: #3A98FB; }

.mk-checkbox.is-indeterminate > .mk-checkbox__input > .mk-checkbox__inner::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  left: 2px;
  top: 5px;
  background: #fff; }

.mk-checkbox-btn-group {
  display: inline-block;
  font-size: 0; }

.mk-checkbox-btn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  cursor: pointer; }

.mk-checkbox-btn:last-child {
  border-right: 0; }

.mk-checkbox-btn.is-checked:not(.is-disabled) > .mk-checkbox-btn__label {
  background: #579EF8;
  color: #fff;
  border-color: #3A98FB !important;
  border-right: 1px solid #fff; }

.mk-checkbox-btn:not(.is-checked) > .mk-checkbox-btn__label:hover {
  color: #579EF8; }

.mk-checkbox-btn.is-disabled {
  color: #c6c6c6;
  cursor: not-allowed; }

.mk-checkbox-btn.is-disabled > .mk-checkbox-btn__label:hover {
  color: #c6c6c6; }

.mk-checkbox-btn:first-child > .mk-checkbox-btn__label {
  border: 1px solid #dcdfe6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.mk-checkbox-btn:last-child > .mk-checkbox-btn__label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.mk-checkbox-btn__label:not([middle]):not([mini]) {
  display: inline-block;
  padding: 12px 20px;
  border-right: 1px solid #dcdfe6;
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6; }

.mk-checkbox-btn__label[middle] {
  display: inline-block;
  padding: 8px 16px;
  border-right: 1px solid #dcdfe6;
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6; }

.mk-checkbox-btn__label[mini] {
  display: inline-block;
  padding: 3px 8px;
  border-right: 1px solid #dcdfe6;
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6; }

.mk-checkbox-btn__input {
  position: absolute;
  z-index: -1;
  border: 0;
  opacity: 0;
  outline: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-appearance: none; }

.mk-checkbox.is-bordered {
  border: 1px solid #dcdfe6;
  padding: 6px 8px;
  border-radius: 3px; }

.mk-checkbox.is-bordered.is-checked:not(.is-disabled) {
  border-color: #3A98FB; }

.mk-input {
  width: 180px; }

.mk-input__inner:focus {
  border-color: #409EFF; }

.mk-input__inner {
  border-radius: 5px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  height: 40px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }

.mk-input.is-disabled > .mk-input__inner {
  background: #F5F7FA;
  cursor: not-allowed; }

.mk-input.mk-input--suffix {
  position: relative; }

.mk-input__suffix {
  display: none; }

.mk-input__suffix-clear {
  position: absolute;
  right: 17px;
  top: 15px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #c0c4cc;
  cursor: pointer; }

.mk-input__suffix-clear::before {
  content: '';
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  height: 1px;
  background: #fff;
  top: 6px;
  left: 3px; }

.mk-input__suffix-clear::after {
  content: '';
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 6px;
  height: 1px;
  background: #fff;
  top: 6px;
  left: 3px; }
