header {
	padding-top: 20px;
	text-align: center;
	font-weight: 500;
    font-size: 20px;
}
.description {
	margin-top: 15px;
	text-align: center;
	font-size: 16px;
}
.content {
	width: 800px;
	margin: auto;
	margin:;
	background: #EEEEEE;
}
.fit:after {
	content: ' ';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.jar {
	width: 800px;
	margin: auto;
}
.fl {
	float: left;
}
.wrap {
	width: 200px;
	position: relative;
	margin-left: 50px;
	margin-top: 10px;
}
.jar-wrap__usual:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 200px;
	border-bottom: 1px solid #1F1F1F;
}
.jar-wrap__error:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 200px;
	border-bottom: 1px solid #f44336;
}
.jar-wrap__disable:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 200px;
	border-bottom: 1px dotted #c5c0c0;
}
.jar-wrap__multiline>label {
	z-index: 100;
}
label {
	transition-duration: .3s;
	position: absolute;
	top: 20px;
	font-size: 14px;
	color: #666;
}
.jar-label__error {
	color: #f44336;
}
.jar-label__disabled {
	color: #c5c0c0;
}
.jar-label__select {
	top: -5px;
}
.active-usual {
	top: 0px;
	font-size: 10px;
	color: #2499dd;
}
.active-error {
	top: 0px;
	font-size: 10px;
}
.active-disabled {
	top: 0px;
	font-size: 10px;
}
.active-read {
	top: 0px;
	font-size: 10px;
}
.active-placeholder {
	top: 0px;
	font-size: 10px;
	color: #2499dd;
}
.active-select-man_default {
	top: 0px;
	font-size: 10px;
}
.blur-label {
	color: #666;
}
.input-field {
	width: 200px;
	position: relative;
}
.input-field>input {
	width: 200px;
	height: 32px;
	margin-top: 16px;
	font-size: 14px;
	background-color:transparent;
}
.input-field>input[disabled] {
	width: 200px;
	height: 32px;
	margin-top: 16px;
	font-size: 14px;
	color: #c5c0c0;
	background-color:transparent;
}
.jar-field__usual:hover:before {
	content: '';
	width: 200px;
	border-bottom: 2px solid #1F1F1F;
	position: absolute;
	right: 0;
	bottom: 0;
}
.jar-field__usual:after {
	content: '';
	width: 200px;
	border-bottom: 2px solid #2499dd;
	position: absolute;
	right: 0;
	bottom: 0;
	transform: scaleX(0);
	transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.jar-field__multiline {
	width: 200px;
}
.jar-field__multiline>textarea {
	width: 100%;
	height: 31px;
	line-height: 15px;
	resize: none;
	outline: none;
	border: none;
	margin-top: 16px;
	font-size: 14px;
	-webkit-appearance: none;
	margin-bottom: 1px;
	display: block;
	background: transparent;
}
.jar-field__multiline:after {
	content: '';
	width: 200px;
	border-bottom: 2px solid #2499dd;
	position: absolute;
	right: 0;
	bottom: 0;
	transform: scaleX(0);
	transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.jar-field__placeholder>input:placeholder {
	color: #c3bdbd;
}
.jar-field__select>select {
	width: 100%;
    height: 31px;
    margin-top: 16px;
    border: none;
    outline: none;
    margin-bottom: 1px;
    -webkit-appearance: none;
    font-size: 14px;
}
.focus-field__usual:after {
	transform: scaleX(1);
	border-bottom: 2px solid #2499dd;
}
.triangle-down {
	width: 0;
	height: 0;
	border-top: 8px solid #666;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	right: 10px;
    bottom: 10px;
    pointer-events: none;
}



